.auto img {
    width: 300px;
    float: left;
    margin-top: 59px;
}

table, td {
    border: 2px solid black;
    border-collapse: collapse;
}
td {
    padding: 0 20px;
}
table {
    width: 600px;
    height: 200px;
}
img {
}
.auto {
    width: 100%;
    margin: 30px auto;

}
h1 {
    text-align: center;
}
.autos {
    margin: 0 auto;
}