#audi {
    width: 300px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

#aud {
    width: 100%;
}
#audilink a, a:visited{
    color: black;
    text-decoration: none;
}
#audilink {
  float: right;
}
a {
    text-decoration: none;
    color: black;

}
#ferrarilink {
    float: right;

}
#ferrari {
    width: 250px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}
#ferrari:hover {
    background-color: #C1BEBF;
    border-radius: 10px;
}
#audi:hover {
    background-color: #C1BEBF;
    border-radius: 10px;
}
#porsche:hover {
    background-color: #C1BEBF;
    border-radius: 10px;
}
#mclaren:hover {
    background-color: #C1BEBF;
    border-radius: 10px;
}
#porsche {
    width: 230px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 30px;
    padding-top: 10px;
    
}

#porschelink {
    float: right;
}
#mclaren {
    width: 500px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding: 0 30px;
}
#mclarenlink {
    float: right;
    padding-right: 0px;
}
#egesz {
    width: 1560px;
    margin: auto;
    margin-top: 17em;
}
#audih2 {
margin-top: 5px;
}
#mclarenh2 {
    padding-top: 54px;
}
#ferrarih2 {
    margin-top: 0px;
}
#porscheh2 {
    padding-bottom: 10px;
}
